<ul class="breadcrumb">
    <li><a href="#students">Student</a></li>
    <li class="active">{{student.name.last}}, {{student.name.first}}
    </li>
</ul>
<div class="panel panel-default clearfix">
    <div class="panel-body">
        <div class="button-bar">
            <button class="btn btn-warning" ng-click="edit()" ng-hide="editing">Edit</button>
            <button class="btn btn-success" ng-click="save()" ng-show="editing">Save</button>
            <button class="btn btn-danger" ng-click="cancel()" ng-show="editing">Cancel</button>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
            <h3 class="margin-top-reset">{{student.name.first}} {{student.name.last}}</h3>
            <img ng-src="{{student.image}}" image-fallback="images/user.png" class="student-avatar">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 form-offset">
            <div class="form-group">
                <label class="control-label">Student ID</label>
                <div>#{{student.id}}</div>
            </div>
            <div class="form-group">
                <label class="control-label">First Name:</label>
                <edit-in-line value="student.name.first" editing="editing" />
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <edit-in-line value="student.name.last" editing="editing" />
            </div>
            <div class="form-group">
                <label>Team:</label>
                <edit-in-line value="student.team" editing="editing" edit-list="teams" edit-option="t.name for t in teams" edit-type="select" display-value="student.team.name" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 form-offset">
            <div class="form-group">
                <label class="control-label">Address</label>
                <ul class="address-lines">
                    <li ng-repeat="line in student.address.lines track by $index">
                        <span ng-hide="editing">{{line}}</span>
                        <div ng-show="editing" class="input-group address-edit">
                            <input type="text" class="form-control" ng-model="student.address.lines[$index]" />
                            <span class="input-group-btn">
                  <button ng-click="address.addLine($index)" class="btn btn-success">
                  <i class="fa fa-plus"></i>
                  </button>
                  <button ng-click="address.removeLine($index)" ng-disabled="student.address.lines.length === 1" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    </button>
                                 </span>
                        </div>
                    </li>
                    <li>
                        <edit-in-line value="student.address.city" editing="editing" />
                    </li>
                    <li>
                        <span ng-hide="editing">{{student.address.state}}, {{student.address.zip}}</span>
                    </li>
                    <li ng-show="editing">
                        <edit-in-line ng-show="editing" edit-type="select" value="student.address.state" editing="editing" edit-list="states" edit-option='s for s in states' />
                    </li>
                    <li ng-show="editing">
                        <edit-in-line value="student.address.zip" editing="editing" edit-type="number" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>